@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ropa Sans", sans-serif;
  font-size: 30px;
  height: 100vh;
  background-color: #eeeeee;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
h1 {
  margin-bottom: 10px;
  color: #eeeeee;
  background-color: #393e46;
  padding: 10px;
}
ul {
  padding: 30px;
}
main {
  flex: 1;
}
.footer {
  background-color: #393e46;
  color: #eeeeee;
  padding: 3px;
  text-align: center;
}
.copyright p {
  height: inherit;
}
