@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ropa Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: #eeeeee;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  display: flex;
  background-color: #393e46;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  border-radius: 50%;
  display: block;
  margin-left: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  margin-right: 10px;
}
ul a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 25px;
}
ul a:hover {
  color: #00adb5;
}
/* Styling the main content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confused img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
.intro {
  font-size: 40px;
  color: #393e46;
  margin: 20px auto;
  text-align: center;
}
.secret {
  display: inline-block;
  font-size: 80px;
  font-weight: bold;
  background-color: #393e46;
  width: 200px;
  height: auto;
  padding: 10px;
  text-align: center;
  color: #eeeeee;
}
.response {
  font-size: 20px;
  color: #222831;
  margin: 20px auto;
  text-align: center;
}
.guess {
  font-size: 70px;
  border: 1px solid #393e46;
  margin: 20px auto;
}
.btn {
  font-size: 30px;
  padding: 10px;
}
.btn:hover {
  background-color: #00adb5;
  color: #222831;
  cursor: pointer;
  border: 2px solid #222831;
  border-radius: 5px;
}
.middle_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
.middle {
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top p,
.left p {
  font-size: 30px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.copyright {
  height: 30px;
  text-align: center;
  margin-top: 20px;
  background-color: #222831;
  padding: 10px;
  color: #eeeeee;
}

@media (max-width: 450px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    gap: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .intro {
    font-size: 30px;
  }
  .logo {
    margin-right: 20px;
  }
  .middle_container {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
  }
  .top p,
  .left p {
    font-size: 22px;
  }
  .btn {
    font-size: 20px;
    padding: 5px;
  }
  .guess {
    font-size: 50px;
    border: 1px solid #393e46;
    margin: 10px auto;
  }
}
